.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .delete-button,
  .add-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .delete-button{
    margin-top: 0px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #504848;
    color: red;
    font-weight: bold;
  }
  
  .add-button{
    margin-top: 0px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #504848;
    color: rgb(74, 207, 141);
    font-weight: bold;
  }
  