
  .product-card-carrito {
    width: 1200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
  }
  
  .product-image {
    width: 100%;
    max-width: 200px; /* Establece el ancho máximo de la imagen */
    height: 'auto';
    max-height: 200px; /* Establece la altura máxima de la imagen */
    object-fit: cover;
    border-radius: 4px;
  }
  
  
  .product-title {
    font-weight: bold;
    margin-top: 0px;
  }
  
  .product-price {
    font-weight: bold;
    margin-top: 0px;
  }
  
  .product-description {
    margin-top: 0px;
  }
  
  .add-to-cart-button {
    margin-top: 0px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-to-cart-button:hover {
    background-color: #0056b3;
  }
  
  .navbar-elegir {
    position: fixed;
    width: 100%;
    background-color: #f1f1f110;
    padding: 20px;
    text-align: left;
    top: 0;
    left: 0;
    right: 0; /* Asegura que el navbar esté por encima de los demás elementos */
  }
  
  .floating-button {
    font-size: 19px;
    padding: 10px 20px;
    background-color: #355036;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    position: fixed;
    bottom: 60px;
    right: 100px;
    z-index: 9999;
    /* Estilos adicionales para el botón */
  }

  .floating-button-2 {
    font-size: 19px;
    padding: 10px 20px;
    background-color: #414241;
    color: white;
    border: none;
    cursor: pointer;
    width: 350px;
    position: fixed;
    bottom: 60px;
    left: 100px;
    z-index: 9999;
    /* Estilos adicionales para el botón */
  }
  
  .product-card-content {
    display: flex;
    justify-content: space-between;
  }
  
  .info-final {
    text-align: center;
  }