.inicio-page {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-title {
  font-size: 100px;
  margin-bottom: 50px;
  font-family: cursive;
}

.descripcion-pag-inicio {
  font-size: 21px;
  text-align: center;
  margin-bottom: 60px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f110;
  padding: 20px;
  text-align: center;
}

.message-container-inicio {
  flex-grow: 0;
}

.massage-title {
  font-size: 22px;
  margin: 0;
}

.form-group {
  margin-bottom: 30px;
}

.grupo-button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
}

.grupo-button:hover {
  background-color: #45a049;
}

.input-field {
  width: 400px;
  height: 40px;
  font-size: 16px;
  text-align: left;
  border-radius: 10px;
}

.icono {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.texto-boton {
  font-weight: bold;
}
