.login-page {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
    .coffee-title {
      font-size: 120px;
      margin-bottom: 60px;
    }
    
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #f1f1f110;
      padding: 20px;
      text-align: center;
    }
    
    .massage-title-login {
      font-size: 18px;
      margin: 0;
      text-align: center;
      flex-grow: 1;
    }
    
    .form-group {
      margin-bottom: 30px;
    }
    
    .login-button {
      font-size: 16px;
      padding: 10px 20px;
      background-color: #4caf50;
      color: white;
      border: none;
      cursor: pointer;
    }
    
    .login-button:hover {
      background-color: #45a049;
    }
    
    .input-field {
      width: 400px;
      height: 40px;
      font-size: 16px;
      text-align: left;
      border-radius: 10px;
    }
    
    .error-message {
      color: red;
      font-weight: bold;
    }
    