.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f1f1f110;
    text-align: center;
  }
  
  .back-button {
    font-size: 18px;
    padding: 5px 20px;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .back-button:hover {
    text-decoration: underline;
  }
  
  
  .message-container {
    flex-grow: 1;
  }
  
  .message-title {
    font-size: 18px;
    margin: 0;
  }
  
  .newPedido-title {
    font-size: 55px;
    margin-bottom: 10px;
    font-family: cursive;
  }

  .descripcion-pag {
    font-size: 21px;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .siguiente-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .siguiente-button:hover {
    background-color: #45a049;
  }


  .input-user-field {
    width: 400px;
    height: 40px;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 20px;
  }