.tarjeta-container {
    display: flex;
  }
  
  .cuadro-izquierdo,
  .cuadro-derecho {
    width: 1200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
  }

  .massage-izquierdo,
  .massage-derecho {
    width: 1200px;
    padding: 10px;
  }
  
  .cuadro-izquierdo {
    overflow-y: scroll;
    height: 500px;
  }
  
  .cuadro-derecho {
    overflow-y: scroll;
    height: 500px;
  }
  
  /* Estilos adicionales según tus necesidades */
  .tarjetita {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
  }

  
.opciones-nav {
    font-size: 22px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  
  .opciones-nav:hover {
    text-decoration: underline;
  }

  .salir-button {
    font-size: 22px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 0px 5px;
  }
  
  .salir-button:hover {
    background-color: red;
  }