
.message-container-elegir-perfil {
    flex-grow: 1;
  }
  .product-card-perfil {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
  }
  
  .product-image-perfil {
    width: 200%;
    max-width: 300px; /* Establece el ancho máximo de la imagen */
    height: 'auto';
    max-height: 300px; /* Establece la altura máxima de la imagen */
    object-fit: cover;
    border-radius: 150px;
  }
  
  
  .product-title-perfil {
    font-weight: bold;
    margin-top: 0px;
  }
  
  .product-price-perfil {
    font-weight: bold;
    margin-top: 0px;
  }
  
  .product-description-perfil {
    margin-top: 0px;
  }
  
  .add-to-cart-button-perfil {
    margin-top: 0px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-to-cart-button-perfil:hover {
    background-color: #0056b3;
  }
  
  .navbar-elegir-perfil {
    position: fixed;
    width: 100%;
    background-color: #f1f1f110;
    padding: 20px;
    text-align: left;
    top: 0;
    left: 0;
    right: 0; /* Asegura que el navbar esté por encima de los demás elementos */
  }
  
  .floating-button-perfil {
    font-size: 19px;
    padding: 10px 20px;
    background-color: #355036;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    position: fixed;
    bottom: 60px;
    right: 100px;
    z-index: 9999;
    /* Estilos adicionales para el botón */
  }

  .floating-button-2-perfil {
    font-size: 19px;
    padding: 10px 20px;
    background-color: #414241;
    color: white;
    width: 350px;
    left: 100px;
    /* Estilos adicionales para el botón */
  }
  